{{ partial "header.html" . }}
<div class="container">
	<div class="row">
		<div class="col-sm-9 col-sm-push-3 col-xs-12">
			<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
			{{ with .Params.subheader }}<span class="lead"><p>{{ . }}</p></span>{{ end }}
			<div class="post">
				{{ with .Params.summary }}<p>{{ . }}</p>{{ end }}
				{{ with .TableOfContents }}
				<div class="well col-xs-12 col-md-6 col-lg-4">
					<b>Contents</b>
					{{ . }}
				</div>
				<div class="clearfix"></div>{{ end }}
				{{ partial "single-notice.html" . }}
				{{ .Content }}
			</div>
		</div>
{{ partial "sidebar.html" . }}
	</div>
</div>
{{ partial "navbar.html" . }}
{{ partial "container-footer.html" . }}
{{ partial "footer.html" . }}
