body{
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	position: relative;
}

.jumbotron, .carousel {
	margin-top: 20px;
}
	.carousel-caption {
		background: rgba(0, 0, 0, 0.75);
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0;
		text-align: inherit;
	}
		.carousel-caption h2 {
			padding: 15px;
		}

.panel-group {
	margin-top: 20px;
}

.xps-toc {
	padding-top:20px;
	width: 300px;
}
	.xps-toc .nav>li>a:focus, .xps-toc .nav>li>a:hover {
		background-color: transparent;
	}
	.xps-toc nav a {
		padding: 4px 15px 4px 0;
	}
		.xps-toc > nav > ul.nav > li > ul.nav > li > a {
			border-left: 2px solid #fff;
			padding-left: 15px;
			font-size: 120%;
			font-weight: bold;
		}
		.xps-toc > nav > ul.nav > li > ul.nav > li > a:focus,
		.xps-toc > nav > ul.nav > li > ul.nav > li > a:hover {
			border-left: 2px solid #efefef;
		}
		.xps-toc > nav > ul.nav > li.active > ul.nav > li.active > a {
			border-left: 2px solid #337AB7;
		}
			.xps-toc > nav > ul.nav > li > ul.nav > li > ul.nav > li {
				display: none;
			}
			.xps-toc > nav > ul.nav > li.active > ul.nav > li.active > ul.nav > li {
				display: block;
			}
			.xps-toc > nav > ul.nav > li > ul.nav > li > ul.nav > li > a {
				border-left: 2px solid #efefef;
				padding-left: 31px;
				font-weight: bolder;
			}
			.xps-toc > nav > ul.nav > li.active > ul.nav > li.active > ul.nav > li.active > a {
				border-left: 2px solid #337AB7;
			}
				.xps-toc > nav > ul.nav > li > ul.nav > li > ul.nav > li > ul.nav > li > a {
					border-left: 2px solid #efefef;
					padding-left: 46px;
					font-size: 90%;
				}
				.xps-toc > nav > ul.nav > li.active > ul.nav > li.active > ul.nav > li.active > ul.nav > li.active > a {
					border-left: 2px solid #337AB7;
				}

.xps-footer {
    padding-top:50px;
}
