<div class="navbar navbar-default navbar-static-top hidden-print" role="navigation">
	<div class="container hidden-print">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">{{ .Site.Title }}</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar-main" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				{{ $currentNode := . }}{{ range .Site.Menus.sitenav }}{{ if .HasChildren }}
				<li class="dropdown{{ if $currentNode.HasMenuCurrent "sitenav" . }} active{{ end }}">
					<a id="section-{{ .Identifier }}" class="dropdown-toggle" data-toggle="dropdown" href="#">{{ .Pre }}{{ .Name }}{{ .Post }}<span class="caret"></span></a>
					<ul class="dropdown-menu" aria-labelledby="download">
						{{ range .Children }}
						<li{{ if $currentNode.HasMenuCurrent "sitenav" . }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a></li>
						{{ end }}
					</ul>
				</li>
				{{ else }}
				<li>
					<a id="section-{{ .Identifier }}" href="{{ .URL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
				</li>
				{{ end }}{{ end }} 
			</ul>
		</div>
	</div>
</div>
