{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
			{{ with .Params.subheader }}<span class="lead"><p>{{ . }}</p></span>{{ end }}
			<div class="post">
				{{ with .Params.summary }}<p>{{ . }}</p>{{ end }}
				{{ partial "single-notice.html" . }}
				{{ .Content }}
			</div>
		</div>
		<div class="col-md-3 hidden-sm hidden-print">
			{{ partial "sidebar-toc.html" . }}
		</div>
	</div>
</div>
{{ partial "container-footer.html" . }}
{{ partial "footer.html" . }}
