<!-- 
Usage:
	< file "Utility-Alienware_AlienFX-R202930.zip" ["options"] >
	
		Param 1 (REQUIRED): Filename to verify and render
		Param 2 (OPTIONAL): Options
		Param 3 (OPTIONAL): The anchor title.  Will use the page's title if not specified.

-->{{ if not .Params }}
<font color="red"><strong>[Error: Must Specify File (e.g. "article/h2c.md")]</strong></font>
{{ else }}
	{{ $link := .Get 0 }}
	{{ $len := .Params | len }}
	{{ $has_text := or (eq $len 2) (eq $len 3) }}
	{{ $has_title := eq $len 3 }}
	{{ $articles := where .Page.Site.Pages "Source.File.Path" (print "file/" $link ".md") }}
	{{ if not $articles }}
		<font color="red"><strong>[Error: File "{{ (print "file/" $link ".md") }}" not found in content/]</strong></font>
	{{ else if ne (len $articles) 1 }}
		<font color="red"><strong>[Error: More than 1 file found for "{{ $link }}" ]</strong></font>
	{{ else }}
		{{ $page := index $articles 0 }}
		{{ printf "%#v" $page }}
		{{ if $has_title }}
			{{ $title := .Get 2 }}
			{{ $text := .Get 1 }}
			<a href="/{{ $page.URLPath.URL }}/" title="{{ $title }}">{{ $text | safeHTML }}</a>
		{{ else if $has_text }}
			{{ $text := .Get 1 }}
			<a href="/{{ $page.URLPath.URL }}/" title="{{ $page.Title }}">{{ $text | safeHTML }}</a>
		{{ else }}
			<a href="/{{ $page.URLPath.URL }}/" title="{{ $page.Title }}">{{ $page.Title | safeHTML }}</a>
		{{ end }}
	{{ end }}
{{ end }}