<!-- 
Usage:
	< link "url" "Anchor Text" "Title Text" >
	
		Param 1 (REQUIRED): Url to verify and render
		Param 2 (OPTIONAL): The anchor text.  Will use the page's title if not specified.
		Param 3 (OPTIONAL): The anchor title.  Will use the page's title if not specified.

-->{{ if not .Params }}
<font color="red"><strong>[Error: Must Specify Link]</strong></font>
{{ else }}
	{{ $link := .Get 0 }}
	{{ $len := .Params | len }}
	{{ $has_text := or (eq $len 2) (eq $len 3) }}
	{{ $has_title := eq $len 3 }}
	{{ $articles := where .Page.Site.Pages "URLPath.URL" $link }}
	{{ if not $articles }}
		<font color="red"><strong>[Error: Url "{{ $link }}" not found]</strong></font>
	{{ else if ne (len $articles) 1 }}
		<font color="red"><strong>[Error: More Than 1 Article Found For Url "{{ $link }}" ]</strong></font>
	{{ else }}
		{{ $page := index $articles 0 }}
		{{ if $has_title }}
			{{ $title := .Get 2 }}
			{{ $text := .Get 1 }}
			<a href="/{{ $page.URLPath.URL }}/" title="{{ $title }}">{{ $text | safeHTML }}</a>
		{{ else if $has_text }}
			{{ $text := .Get 1 }}
			<a href="/{{ $page.URLPath.URL }}/" title="{{ $page.Title }}">{{ $text | safeHTML }}</a>
		{{ else }}
			<a href="/{{ $page.URLPath.URL }}/" title="{{ $page.Title }}">{{ $page.Title | safeHTML }}</a>
		{{ end }}
	{{ end }}
{{ end }}